@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.form-control-invalid {
    border-color: #dc3545;
}

.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}


@layer base {
    @font-face {
        font-family: IRANSansWebBold;
        src: url("/fonts/IRANSansWeb_Bold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: IRANSansWebMedium;
        src: url("/fonts/IRANSansWeb_Medium.woff2") format("woff2");
        font-display: swap;
    }

    @counter-style persian {
        system: numeric;
        symbols: "\6F0""\6F1""\6F2""\6F3""\6F4""\6F5""\6F6""\6F7""\6F8""\6F9";
        /* symbols: '۰' '۱' '۲' '۳' '۴' '۵' '۶' '۷' '۸' '۹'; */
      }
}

@layer components {
    .table-col-header {
        @apply px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider;
    }

    .input-label {
        @apply block text-sm font-medium text-gray-700;
    }

    .status {
        @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-white;
    }

    .table-data {
        @apply px-6 py-4 whitespace-nowrap text-sm;
    }

    .btn {
        @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn-md {
        @apply inline-flex justify-center py-1 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
    }
}
